name: Build, Test, and deploy

on: [push]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    name: Run C++ tests
    steps:
      - uses: actions/checkout@v4
        name: Checkout repository

      - name: Install native dependencies for C++ tests
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libfftw3-dev libboost-filesystem-dev libboost-test-dev

      - name: Build and run C++ tests
        run: ./bin/run-cpp-tests.sh

  prepare-arm-performance-libraries:
    runs-on: ubuntu-22.04
    name: Download and prepare ARM Performance Libraries
    strategy:
      matrix:
        target_platform:
          - linux_gcc
          - macos
    steps:
      - uses: actions/checkout@v6
        name: Checkout repository

      - name: Restore cached ARM sources and libraries
        id: cache-armpl
        uses: actions/cache@v5
        with:
          lookup-only: true
          path: build-packages/arm-performance-libraries/dist
          key: armpl-${{ matrix.target_platform }}-${{ hashFiles('build-packages/arm-performance-libraries/hatch_build.py', 'build-packages/arm-performance-libraries/pyproject.toml') }}

      - name: Install zsh
        # The installation script for ARM Performance Libraries on macOS uses zsh
        if: steps.cache-armpl.outputs.cache-hit != 'true' && matrix.target_platform == 'macos'
        run: sudo apt-get install -y zsh

      - name: Set up Python
        if: steps.cache-armpl.outputs.cache-hit != 'true'
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Download ARM Performance Libraries and extract relevant headers and libraries
        if: steps.cache-armpl.outputs.cache-hit != 'true'
        env:
          ARMPL_TARGET_PLATFORM: ${{ matrix.target_platform }}
        working-directory: 'build-packages/arm-performance-libraries/'
        run: |
          pip install build
          python -m build --wheel

      - name: Store headers and libraries
        if: steps.cache-armpl.outputs.cache-hit != 'true'
        uses: actions/upload-artifact@v6
        with:
          name: arm-performance-libraries-${{ matrix.target_platform }}
          path: build-packages/arm-performance-libraries/dist/*.whl
          if-no-files-found: error

  build:
    needs:
      - test
      - prepare-arm-performance-libraries
    runs-on: ${{ matrix.os }}
    name: Build & Test
    strategy:
      matrix:
        os:
        - ubuntu-22.04
        # Intel based
        - macos-15-intel
        # ARM based
        - macos-15

    steps:
      - uses: actions/checkout@v6
        name: Checkout repository
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Download ARM Performance Libraries
        uses: actions/download-artifact@v7
        if: ${{ startsWith(matrix.os, 'macos-') && ! endsWith(matrix.os, '-intel') }}
        with:
          pattern:  arm-performance-libraries-*
          path: build-packages/arm-performance-libraries/dist
          merge-multiple: true

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_ARCHS_WINDOWS: AMD64
          # Intel MKL only support glibc x86 64bit Intel CPUs
          # If you need to compile gaussianfft for other architectures,
          # a different fftw3 implementation must be used
          CIBW_ARCHS_LINUX: "x86_64"
          CIBW_SKIP: "*-musllinux_x86_64"
          CIBW_ENABLE: "pypy"
        with:
          output-dir: 'dist'

      - name: Store wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels-${{ matrix.os }}
          path: dist/*.whl
          if-no-files-found: error

  source-distribution:
    runs-on: ubuntu-22.04
    name: Create source distribution (sdist)

    steps:
      - uses: actions/checkout@v6
        name: Checkout repository
        with:
          fetch-depth: 0
          filter: tree:0

      - uses: actions/setup-python@v6
        with:
          python-version: "3.7"  # Minimum supported version

      - name: Create source distribution
        run: |
          pip install build
          python -m build --sdist

      - name: Store source distribution
        uses: actions/upload-artifact@v6
        with:
          name: sdist
          path: dist/*.tar.gz
          if-no-files-found: error

  check-created-artifacts:
    runs-on: ubuntu-22.04
    name: Check that all the created artifacts have a consistent version
    needs:
      - build
      - source-distribution
    steps:
      - uses: actions/checkout@v6
        name: Checkout repository
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Download compiled wheels
        uses: actions/download-artifact@v7
        with:
          pattern: wheels-*
          path: .
          merge-multiple: true

      - name: Download source distribution
        uses: actions/download-artifact@v7
        with:
          name: sdist

      - name: Gather wheels and source distribution
        run: |
          mkdir -p dist/
          mv *.whl dist/
          mv *.tar.gz dist/

      - name: Ensure artifacts have consistent version
        run: ./bin/ensure-consistent-version.sh

      - name: Package all artifacts
        uses: actions/upload-artifact@v6
        with:
          name: distribution
          path: dist/
          if-no-files-found: error

  publish:
    runs-on: ubuntu-22.04
    name: Publish wheels, and source to PyPi
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    needs:
      - check-created-artifacts
    # Specifying a GitHub environment is optional, but strongly encouraged
    environment: release
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - name: Download distribution
        uses: actions/download-artifact@v7
        with:
          name: distribution
          path: dist/

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
